#map-canvas{
  margin: 2% 2% 2% 2%;
  background: #8799ff;
  border: 0.2em solid darkgreen; /*#43455d*/
  border-radius: 10px;
}

#canvas_area{
  width: 100%;
  height: 100%;
  justify-items: center;
}
